/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/vendor/laravel-filemanager
resources/views/vendor/laravel-filemanager
Homestead.json
Homestead.yaml
.vagrant/
adminer.php